@font-face {
  font-weight: 100;
  font-family: "SegoeUI";
  font-style: normal;

  src: local("Segoe UI Light"),
  url("../fonts/SegoeUI-Light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "SegoeUI";
  font-style: normal;

  src: local("Segoe UI"),
  url("../fonts/SegoeUI.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "SegoeUI";
  font-style: normal;

  src: local("Segoe UI Semibold"),
  url("../fonts/SegoeUI-SemiBold.woff") format("woff");
}


*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "SegoeUI", Arial, sans-serif;
  color: #ffffff;
  word-wrap: break-word;
  word-break: break-all;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 252px;

  background-color: #515f67;
  background-attachment: fixed;
}

.webp .page-header {
  background-image: url("../img/bg-grass.webp");
}

.no-webp .page-header {
  background-image: url("../img/bg-grass.jpg");
}

.main-navigation {
  padding-top: 57px;
  padding-bottom: 50px;

  background-color: rgba(53, 63, 70, 0.85);
}

.main-navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link {
  display: block;
  -webkit-box-flex: 1px;
      -ms-flex-positive: 1px;
          flex-grow: 1px;

  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  max-width: 570px;
}

.logo-link span {
  color: #4bcaff;
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 0;
  margin-top: 7px;
  padding: 0;

  list-style: none;
}

.site-item {
  margin-bottom: 12px;
}

.site-item:not(:last-child) {
  margin-right: 51px;
}

.site-item a {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.site-item a:hover,
.site-item a:focus {
  color: #98e1ff;
}

.site-item a:active {
  color: #4bcaff;
}

.site-item-active a {
  position: relative;

  color: #4bcaff;
}

.site-item-active a::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -20px;
  bottom: -8px;
  left: -20px;

  border: 2px solid  #4bcaff;
}

.site-lead {
  position: relative;
  z-index: 2;

  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2px;
  padding: 0 15px;

  font-weight: 100;
  font-size: 42px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}

.site-lead:first-of-type {
  margin-top: 244px;
}

.site-lead::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -2px;
  bottom: 4px;
  left: -3px;
  z-index: -1;

  background-color: rgba(53, 63, 70, 0.85);
}

/*services*/

.services {
  padding-bottom: 56px;

  background-color: #4bcaff;
}

.section-title {
  position: relative;

  margin: 0;
  margin-bottom: 47px;
  padding-top: 74px;

  font-weight: 100;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;

  width: 45px;
  height: 2px;

  background-color: #ffffff;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  position: relative;

  -ms-flex-preferred-size: 272px;

      flex-basis: 272px;
      max-width: 272px;
  padding-top: 67px;
  margin-bottom: 20px;
  word-break: normal;
}

.services-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 48px;
  height: 48px;

  background-image: url("../img/sprite-services.png");
  background-repeat: no-repeat;
}

.services-item:nth-child(1)::before {
  background-position: -1px -48px;
}

.services-item:nth-child(2)::before {
  background-position: -1px -148px;
}

.services-item:nth-child(3)::before {
  background-position: -1px 1px;
}

.services-item:nth-child(4)::before {
  width: 52px;

  background-position: 3px -98px;
}

.services-item .title {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  word-break: break-all;
}

.services-item .text {
  margin: 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

/*portfolio*/

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 49px;

  background-color: #ffffff;
}

.portfolio .section-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  color: #515f67;
}

.portfolio .section-title::after {
  background-color: #515f67;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 970px;
  margin: 0;
  padding: 0;
  padding-top: 87px;
  list-style: none;
}

.sort-item {
  margin-bottom: 10px;
}

.sort-item:not(:last-child) {
  margin-right: 52px;
}

.sort-item:first-child {
  margin-right: 75px;
}

.sort-item a {
  font-weight: 700;
  color: #515f67;
  text-transform: uppercase;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #98e1ff;
}

.sort-item a:active {
  color: #4bcaff;
}

.sort-item-active a {
  position: relative;

  color: #4bcaff;
}

.sort-item-active a::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -20px;
  bottom: -6px;
  left: -18px;

  border: 2px solid  #4bcaff;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 41px;
  padding: 0;

  list-style: none;
}

.portfolio-item {
  position: relative;

  margin-bottom: 23px;
}

.portfolio-hover {
  position: absolute;

  display: none;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.portfolio-item:hover .portfolio-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 7px;
  left: 0;

  display: block;

  background-color: rgba(53, 63, 71, 0.9);

  -webkit-animation-name: bounceIn;

          animation-name: bounceIn;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.portfolio-add-link {
  display: block;
  width: 270px;
  height: 270px;
}

.portfolio-add-link svg {
  position: absolute;
  top: 119px;
  left: 119px;

  display: block;
  width: 32px;
  height: 32px;

  /*transform: translate(-50%);*/
}

/*default*/

.default {
  padding-bottom: 81px;

  background-color: #515f67;
}

.default .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.default .left-column {
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
      max-width: 470px;

  word-break: normal;
}

.default .section-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 41px;
  word-break: break-all;
}

.default-text {
  margin: 0;
  margin-bottom: 24px;
  word-break: break-all;
}

.default-text:last-of-type {
  margin-bottom: 33px;
}

.default-link {
  display: inline-block;
  padding: 8px 38px;

  font-weight: 700;
  vertical-align: middle;
  color: #353f46;
  text-transform: uppercase;
  word-break: break-all;

  border: 2px solid #353f46;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.default-link:hover,
.default-link:focus {
  color: #ffffff;

  border-color: #ffffff;
}

.default-link:active {
  color: #4bcaff;

  background-color: #1a4f65;
  border-color: #4bcaff;
}

.video-embed {
  position: relative;

  -ms-flex-preferred-size: 560px;

      flex-basis: 560px;
      max-width: 560px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 313px;

  background-color: #25011f;
}

.video-media {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
  cursor: pointer;
}

.video-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;

  display: none;
  width: 65px;
  height: 40px;

  background-color: rgba(23,35,34,0.75);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.video-embed:hover .video-btn,
.video-btn:focus {
  background-color: rgb(0, 173, 239);
  outline: none;
}

.video-enabled .video-btn {
  display: block;
}

/*twitter*/

.twitter {
  padding-bottom: 66px;

  word-break: normal;

  background-color: #4bcaff;
}

.twitter .container {
  position: relative;
}

.twitter .container::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 15px;

  width: 26px;
  height: 22px;

  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.twitter .section-title {
  position: relative;

  margin-bottom: 33px;
}

.twitter-text {
  margin: 0;

  font-weight: 100;
  font-size: 28px;
  line-height: 50px;
}

.twitter-text a {
  font-weight: 600;
  color: #ffffff;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.twitter-text a:hover,
.twitter-text a:focus {
  text-decoration: underline;
}

.twitter-text a:active {
  color: #1a4f65;
}

/*about*/

.about {
  position: relative;

  padding-top: 20px;
  padding-bottom: 147px;

  background-color: #353f47;
  background-repeat: no-repeat;
}

.webp .about {
  background-image: url("../img/bg-photo.webp");
}

.no-webp .about {
  background-image: url("../img/bg-photo.jpg");
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.about .container {
  position: relative;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .section-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 42px;
}

.about-text {
  -ms-flex-preferred-size: 571px;
      flex-basis: 571px;
  margin: 0;
  margin-bottom: 23px;

  word-break: normal;
  overflow-x: hidden;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 9px;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-bottom: 20px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 20px;

  border: 2px solid #ffffff;
}

.social-link:hover,
.social-link:focus {
  border-color: #4bcaff;
}

.social-link:hover path,
.social-link:focus path {
  fill: #4bcaff;
}

.social-item:nth-child(3) .social-link:hover path:nth-child(1) {
  fill: transparent;
}

.social-link:active {
  border-color: #1a4f65;
}

.social-link:active path {
  fill: #1a4f65;
}

/*testimonials*/

.testimonials {
  padding-bottom: 60px;

  color: #515f67;

  background-color: #ffffff;
}

.testimonials .section-title {
  margin-bottom: 32px;
  padding-right: 20px;
}

.testimonials .section-title::after {
  background-color: #515f67;
}

.testimonials .section-title::before {
  content: "”";
  position: absolute;
  top: 94px;
  right: 0;

  font-size: 100px;
}

.testimonials-blockquote {
  margin: 0;
}

.testimonials .text {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 100;
  font-size: 28px;
  line-height: 50px;
  word-break: normal;
}

.testimonials .author {
  margin-left: 4px;

  font-weight: 700;
  line-height: 50px;
  color: #4bcaff;
  font-style: normal;
}

/*contact*/

.contact {
  position: relative;

  padding-bottom: 80px;

  background-color: #515f67;
  background-repeat: no-repeat;
}

.webp .contact {
  background-image: url("../img/bg-cup.webp");
}

.no-webp .contact {
  background-image: url("../img/bg-cup.jpg");
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(81, 95, 103, 0.65);
}

.contact .container {
  position: relative;
  z-index: 1;
}

.contact .section-title {
  margin-bottom: 41px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-item {
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
  margin: 0;
  margin-bottom: 33px;
}

.form-label {
  display: block;
  margin-bottom: 3px;

  font-weight: 600;
  text-transform: uppercase;
}

.form-input {
  width: 100%;
  padding: 16px 20px;

  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.form-input:hover,
.form-input:focus {
  padding: 14px 20px;

  border: 4px solid #4bcaff;
  outline: none;
}

.contact-item input,
.contact-item textarea {
  font: inherit;
}

.contact-text {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  margin: 0;
  margin-top: 20px;

  font-weight: 600;
  word-break: normal;
}

.contact-info {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;

  font-weight: 600;
}

.contact-info .name {
  margin: 0;
}

.contact-info address {
  font-style: normal;
}

.contact-info a {
  color: #ffffff;
}

.contact-item:last-of-type {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form-textarea {
  width: 100%;
  height: 220px;
  padding: 20px;

  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  resize: none;
}

.form-textarea:hover,
.form-textarea:focus {
  padding: 14px 20px;

  border: 4px solid #4bcaff;
  outline: none;
}

.contact-btn {
  display: inline-block;
  min-width: 370px;
  padding: 22px;

  font-weight: 600;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #4bcaff;
  border: none;
  cursor: pointer;

  -webkit-transition: none;

  -o-transition: none;

  transition: none;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #1a4f65;
  outline: none;
}

.contact-btn:active {
  padding: 18px;

  background-color: #1a4f65;
  border: 4px solid #4bcaff;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

/*footer*/

.page-footer {
  padding-top: 71px;
  padding-bottom: 74px;

  background-color: #353f47;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1070px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation-item {
  position: relative;

  margin-right: 30px;
}

.footer-navigation-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -16px;
  bottom: 4px;

  width: 2px;

  background-color: #515f67;
}

.footer-navigation-item a {
  font-weight: 600;
  font-size: 12px;
  color: #515f67;
  text-transform: uppercase;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  color: #4bcaff;
}

.footer-navigation-item a:active {
  color: #ffffff;
}

.copyright {
  margin: 0;

  font-weight: 600;
  font-size: 12px;
  color: #515f67;
  text-transform: uppercase;
}

/*animations*/

@-webkit-keyframes bounceIn {
  from,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes bounceIn {
  from,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
